body, html{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  body {
    min-height:75vh;
    position: relative;  
    padding-top: 10vh;
    padding-bottom: 17vh;
  }
.main {
    padding-left: 10%;
    padding-right: 10%;

}